# ---------- Postgres ----------
POSTGRES_USER=documind
POSTGRES_PASSWORD=documind
POSTGRES_DB=documind
POSTGRES_PORT=5432

# ---------- Redis ----------
REDIS_PORT=6379

# ---------- MinIO ----------
MINIO_ROOT_USER=documind
MINIO_ROOT_PASSWORD=documind123

# ---------- Kafka ----------
SCHEMA_REGISTRY_PORT=8085

# ---------- Keycloak ----------
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_PORT=8080