APP_ENV=development
LOG_LEVEL=debug
SERVER_PORT=8081
PPROF_PORT=6060

DB_HOST=localhost
DB_USER=documind
DB_PASSWORD=documind
DB_NAME=documind

REDIS_ADDR=localhost:6379

OIDC_ISSUER_URL=http://localhost:8080/realms/documind
OIDC_CLIENT_ID=documind-gateway
OIDC_AUDIENCE=documind-api

KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC_DOCUMENTS=documind.documents.v1

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=documind
MINIO_SECRET_KEY=documind123
MINIO_BUCKET=documents